# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/